@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, strong{
    color : black;
}

p{
    font-size: 1rem; /* 16 pxl*/
    line-height: 1.9rem;
}
p,
label,
input,
textarea,
li{
    color:dimgrey;
}

a{
    text-decoration: none;
}

.main-container {
    width : 1200px;
    margin: 0 auto;

}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* titles */
.pre-title {
    text-transform: uppercase; 
    letter-spacing: 0.5rem;
    color :var(grey);
    position : relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(grey);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/*logo and navigation menu*/
.nav{
    display: flex;
    justify-content: space-between ;
    padding: 2rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 9rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: black;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: black;
}

/*Hero Section*/
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero-name {
    font-size: 5rem;
    font-weight: 800;
    margin: 0.5rem 0 1 rem;
}

.hero-right img{
    width: 80%;

}
.hero-right{
    display: flex;
    justify-content: center;
}